In [224]:
from sklearn.neural_network import MLPClassifier
import pandas as pd
import csv
import numpy as np
import seaborn
import torch
import plotly.express as px
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
import itertools
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from torch.utils.data import TensorDataset, DataLoader
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score
import matplotlib.pyplot as plt

In [225]:
traindata = pd.read_csv('/Users/ifc090/Downloads/msbd5001-spring-2022/train.csv')
#print(traindata.isnull().sum())

testdata = pd.read_csv('/Users/ifc090/Downloads/msbd5001-spring-2022/test.csv')
testdata
traindata.dropna(inplace = True)
#traindata.drop("id", axis = 1, inplace = True)
#print(traindata.isnull().sum())
traindata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 0 to 86
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        86 non-null     int64
 1   MO HLADR+ MFI (cells/ul)  86 non-null     float64
 2   Neu CD64+MFI (cells/ul)   86 non-null     float64
 3   CD3+T (cells/ul)          86 non-null     float64
 4   CD8+T (cells/ul)          86 non-null     float64
 5   CD4+T (cells/ul)          86 non-null     float64
 6   NK (cells/ul)             86 non-null     float64
 7   CD19+ (cells/ul)          86 non-null     float64
 8   CD45+ (cells/ul)          86 non-null     float64
 9   Age                       86 non-null     int64
 10  Sex 0M1F                  86 non-null     int64
 11  Mono CD64+MFI (cells/ul)  86 non-null     float64
 12  label                     86 non-null     int64
dtypes: float64(9), int64(4)
memory usage: 9.4 KB

In [226]:
#traindata.head()

trainx = traindata.iloc[:, 1:12]
trainx.head()

trainy = traindata.iloc[:, -1]
trainy.head()

testx = testdata.iloc[:, 1:12]
testx.head()

,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul)
0,2843.0,156.0,1358.52,730.78,637.85,127.06,94.82,1588.62,45,1,3256.0
1,437.0,137.0,509.43,268.05,243.07,390.86,98.24,1002.76,51,1,491.0
2,826.0,82.0,1232.22,493.42,744.08,516.28,320.15,2200.58,32,0,1381.0
3,861.0,50.0,1512.86,925.51,590.07,380.25,25.80,1929.10,50,0,1377.0
4,1160.0,157.0,890.42,403.91,489.53,266.92,87.63,1251.52,43,0,1844.0

In [227]:
scaler = MinMaxScaler()
scaler.fit(trainx)
trainx = scaler.transform(trainx)
testx = scaler.transform(testx)
#trainx

In [228]:
reg = LinearRegression().fit(trainx, trainy)
reg.score(trainx, trainy)

0.5375356490784997

In [229]:
clf = RandomForestClassifier(n_estimators = 1000, random_state=0)
#0.956 no max depth
#max_depth 2 0.93 underfit
clf.fit(trainx, trainy)
clf.score(trainx, trainy)

1.0

In [230]:
clf = LogisticRegression(random_state=0, max_iter = 5000, multi_class = "ovr", penalty = "none").fit(trainx, trainy)
clf.score(trainx, trainy)

0.9302325581395349

In [231]:
#100 1000 0.01 overfit 1.0 --- 0.86
#10 1000 0.01 0.95 ---- 0.82
#100 400 0.01 0.96 ---- 0.89
#15,12 300 0.01 1.00 ---- 0.86
clf = MLPClassifier(solver = "lbfgs", hidden_layer_sizes = (100,), alpha = 0.1, random_state=0, learning_rate_init = 0.01, max_iter = 1000).fit(trainx, trainy)
clf.score(trainx, trainy)

0.9767441860465116

In [232]:
outputs = clf.predict(testx)
df = pd.DataFrame(outputs, columns = ["label"])
df.to_csv("ICsubmission.csv", index_label = "id", index = True)

In [ ]:
fig = traindata.plot(x = 'MO HLADR+ MFI (cells/ul)', y = 'label', kind = 'scatter')
plt.show()

In [ ]:
fig = traindata.plot(x = 'CD3+T (cells/ul)', y = 'label', kind = 'scatter')
plt.show()

In [ ]:
fig = traindata.plot(x = 'CD8+T (cells/ul)', y = 'label', kind = 'scatter')
plt.show()

In [ ]:
fig = traindata.plot(x = 'CD4+T (cells/ul)', y = 'label', kind = 'scatter')
plt.show()

In [ ]:
fig = traindata.plot(x = 'NK (cells/ul)', y = 'label', kind = 'scatter')
plt.show()

In [ ]:
fig = traindata.plot(x = 'CD19+ (cells/ul)', y = 'label', kind = 'scatter')
plt.show()

In [ ]:
fig = traindata.plot(x = 'CD45+ (cells/ul)', y = 'label', kind = 'scatter')
plt.show()

In [ ]:
fig = traindata.plot(x = 'Age', y = 'label', kind = 'scatter')
plt.show()

In [ ]:
fig = traindata.plot(x = 'Sex 0M1F', y = 'label', kind = 'bar')
plt.show()

In [ ]:
fig = traindata.plot(x = 'Mono CD64+MFI (cells/ul)', y = 'label', kind = 'scatter')
plt.show()